[submodule "TLMSP/tlmsp-tools"]
	path = ETSI/TLMSP/tlmsp-tools
	url = https://github.com/ricnava00/tlmsp-tools
[submodule "TLMSP/tlmsp-openssl"]
	path = ETSI/TLMSP/tlmsp-openssl
	url = https://github.com/ricnava00/tlmsp-openssl
[submodule "hello-retail"]
	path = hello-retail
	url = https://github.com/ricnava00/hello-retail
[submodule "DC/go"]
	path = DC/go
	url = https://github.com/ricnava00/go
[submodule "ETSI/TLMSP/tlmsp-curl"]
	path = ETSI/TLMSP/tlmsp-curl
	url = https://github.com/ricnava00/tlmsp-curl
