/**/vm/.vagrant/
/ETSI/Middlebox/graph.png
/ETSI/Middlebox/session.dat
/ETSI/Middlebox/stderr.txt
/ETSI/Middlebox/stdout.txt
/ETSI/Middlebox/waiting.dat
/ETSI/Middlebox/jwks.dat
/ETSI/Middlebox/jwks_info.dat
/OAuthTokenGetter/secrets.js
/OAuthTokenGetter/refresh_token.txt
/DC/go-compiled.tar
/PerformanceMeasuring/**/*.res
/PerformanceMeasuring/*/
/PerformanceMeasuring/*.png
/DC/Middlebox/*.dat
/DC/certs/dc.cred
/DC/certs/dckey.pem
/ETSI/NewMiddlebox/*.dat
go.sum